name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2
#       - name: Buid docker image locally
#         run: docker compose up --build -d